<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12">
        <div class="card" data-aos="fade-down">
          <form>
            <div class="row">
              <div class="col-lg-8 image" data-aos="fade-in"
                data-aos-delay="200">
                <img
                  src="images/login.avif"
                  alt>
              </div>
              <div class="col-lg-4 login">
                <div class="card-body" data-aos="fade-up" data-aos-delay="400">
                  @if (currentStep === steps.login) {
                  <app-login-step
                    (currentStep)="getCurrentStep($event)"></app-login-step>
                  }

                  @if (currentStep === steps.register) {
                  <app-register-step
                    (currentStep)="getCurrentStep($event)"></app-register-step>
                  }

                  @if (currentStep === steps.forgotPassword) {
                  <app-forgot-password-step
                    (currentStep)="getCurrentStep($event)"></app-forgot-password-step>
                  }
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>